.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}
.dropbtn {
	background-color:black;
	border: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-icon {
	margin-left: 10px;
	fill: white;
}
nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {    
    list-style: none;    
}

nav li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover {
    color: yellow;
    text-decoration: none;
}
