#login-page {
    /*background-image: url(img/login_background.jpg);
    background-position: top 110px center;
    background-repeat:no-repeat;*/
    background: black;
    overflow:hidden;
}
.background-img {
   object-fit: cover;
   opacity: 0.4;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  border: 3px white;;
}
.dropbtn {
	background-color:black;
	border: black;
	width: 100px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-right:10px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  margin-right:10px;
}

.nav-icon {
	margin-left: 10px;
	margin-right: 10px;
	fill: white;
}
nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {    
    list-style: none;    
}

nav li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover {
    color: yellow;
    text-decoration: none;
}
